/* CustomScrollbar.css */

/* Track */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #9b4479; /* Set the color of the scrollbar handle */
  border-radius: 8px; /* Set the border radius of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #e55db2; /* Change color on hover */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #5a3698; /* Change color on track hover */
}
::-webkit-scrollbar-track {
  background-color: #23153c; /* Change color on track hover */
}

/* Button */
::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons (if any) */
}
* {
  font-family: "Inter", medium;
  font-weight: 300;
}
.navi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-img {
  background-image: url("../src/assets/best.gif") !important;
}
@media screen and (max-width: 768px) {
  .navbar-custom {
    gap: 4rem;
    border: 0px;
    margin-bottom: 100%;
  }
  .custom-nav {
    margin-right: auto;
  }
  #logoid {
    display: none;
  }
}
.blog-bg {
  background: rgba(31, 31, 31, 0.076) !important;
  /* box-shadow: 0 2px 12px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.157);
}
.faq-bg {
  background: rgba(31, 31, 31, 0.076) !important;
  /* box-shadow: 0 2px 12px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 4px;
  /* border: 2px solid rgba(255, 255, 255, 0.157); */
}
svg {
  color: #fff;
}
